PORT=4000
DATABASE_URL=postgresql://postgres:2220@localhost:5432/ConsultorioMedicoDb
JWT_SECRET=super_secret_jwt_key
SENDGRID_API_KEY=your_resend_api_key
ADMIN_EMAIL=ivanm.cao22@gmail.com 
EMAIL_FROM="ivanm.cao22@gmail.com "
